## 1-NN

In [1]:
import numpy as np

In [2]:
data = {'X': [1,2,4,7,12], 'Y':[11,15,21,30,34]}

import pandas as pd
data = pd.DataFrame(data)
data

    X   Y
0   1  11
1   2  15
2   4  21
3   7  30
4  12  34

In [2]:
x = 8

for i in 1 to n do
    di = distance(x, Xi)
    
Return yi for which di is min

In [11]:
dist = []

for i in range(0, len(data)):
    dist.append(abs(x - data.X[i]))
    
index = dist.index(min(dist))
data.Y[index]

30

In [8]:
min_dist = 9999999999999999999

for i in range(0,len(data)):
    d = abs(x - data.X[i])
    
    #Find the minimum distance
    if d < min_dist:
        min_dist = d
        index = i
        
#Return yi for which di is minimum
#We have found that di is min for i = 3 -> therefore we will return y3

predicted_y = data.Y[index]
print(predicted_y)

30

In [5]:
min_dist

1

In [6]:
index

3

In [ ]:
INTRODUCTION TO STATISTICAL LEARNING (ISLR)

In [ ]:
Extend this 1NN algorithm to 2NN algorithm...

In [36]:
#Test example
x = 8

In [2]:
data

    X   Y
0   1  11
1   2  15
2   4  21
3   7  30
4  12  34

In [37]:
dist = []

for i in range(0, len(data)):
    dist.append(abs(x - data.X[i]))

d = dist.copy()
dist.sort()
#print(dist)

k=3

index = []
for i in range(0,k):
    index.append(d.index(dist[i]))
    
pred_y = np.mean(data.Y[index])
print(pred_y)

24.0

In [17]:
(15+21+30)/3

22.0

In [49]:
def knn(D, x, k):
    dist = []

    for i in range(0, len(data)):
        dist.append(abs(x - data.X[i]))

    d = dist.copy()
    dist.sort()
    print(d)

    index = []
    for i in range(0,k):
        indx = d.index(dist[i])
        if indx in index:
            indx = d.index(dist[i], indx+1)  #This can handle only one tie
        index.append(indx)
        
    print(index)

    pred_y = np.mean(data.Y[index])
    return(pred_y)

In [50]:
knn(D=data, x=8, k=3)

[7, 6, 4, 1, 4]
[3, 2, 4]

28.333333333333332

In [38]:
dist

[1, 4, 4, 6, 7]

In [55]:
def knn(D, x, k):
    dist = []

    for i in range(0, len(data)):
        dist.append(abs(x - data.X[i]))

    d = dist.copy()
    dist.sort()
    print(d)

    index = []
    for i in range(0,k):
        indx = d.index(dist[i])
        index.append(indx)
        d[indx] = -1
        print(d)
        
    print(index)
    

    pred_y = np.mean(data.Y[index])
    return(pred_y)

In [56]:
knn(D=data, x=8, k=3)

[7, 6, 4, 1, 4]
[7, 6, 4, -1, 4]
[7, 6, -1, -1, 4]
[7, 6, -1, -1, -1]
[3, 2, 4]

28.333333333333332

In [3]:
data2 = {'X1': [1,2,4,7,12], 'X2' : [5,4,3,2,1], 'Y':[11,15,21,30,34]}

data2 = pd.DataFrame(data2)
data2

   X1  X2   Y
0   1   5  11
1   2   4  15
2   4   3  21
3   7   2  30
4  12   1  34

In [4]:
test = np.array([2,3])

In [ ]:
(1,5) and (2,3)

In [6]:
#Euclidean distance

p = np.array([2,2])
q = np.array([4,5])

np.sqrt((p[0]-q[0])**2 + (p[1]-q[1])**2)

3.605551275463989

In [8]:
np.sqrt((2-4)**2+(2-5)**2)

3.605551275463989

In [9]:
p = np.array([2,3,3])
q = np.array([4,5,2])

np.sqrt((p[0]-q[0])**2 + (p[1]-q[1])**2 + (p[2]-q[2])**2)

3.0

In [10]:
d = 0

for i in range(len(p)):
    d = d + (p[i]-q[i])**2
    
np.sqrt(d)

3.0

In [11]:
def euclidean(p,q):
    d = 0

    for i in range(len(p)):
        d = d + (p[i]-q[i])**2

    return(np.sqrt(d))

In [14]:
euclidean(np.array([2,3,3]), np.array([4,5,2]))

3.0

In [17]:
print(data2)
print("\n")
print(test)

   X1  X2   Y
0   1   5  11
1   2   4  15
2   4   3  21
3   7   2  30
4  12   1  34


[2 3]

In [23]:
dist = []

for i in range(len(data2)):
    dist.append(euclidean(test, data2.iloc[i,[0,1]]))
    
print(dist)

[2.23606797749979, 1.0, 2.0, 5.0990195135927845, 10.198039027185569]

In [37]:
def knn(D, x, k=1):
    dist = []
    

    for i in range(0, len(D)):
        dist.append(euclidean(x, D.iloc[i,[0,1]]))

    d = dist.copy()
    dist.sort()
    #print(d)

    index = []
    for i in range(0,k):
        indx = d.index(dist[i])
        index.append(indx)
        d[indx] = -1
        #print(d)
        
    #print(index)
    

    pred_y = np.mean(D.iloc[index,2])
    return(pred_y)

In [39]:
knn(data2, test, k=2)

18.0

### Homework 1 - Graded Assignment (Individual Assignment)

Data = cars.csv
Predictors = [Cylinders, Weight, Horsepower]
Target = MPG

You will remove all the observations for which MPG and Horsepower is zero.
Do a scaling - do standardization of all the predictors ((X-mean)/sd) [This won't make it standard normal distributed) - This is done beacuse different variables are measured in different scales.

Keep aside one random observation from the dataset as test. (DO NOT include that observation for training the algorithm)

you need to build a kNN algorithm for regression.

kNN(trainX, trainY, testX, k)

If **X** follows a normal distribution with *mean=mu* and *variance=sigma*, then

**Z=(X - mu)/sigma** will also follow a normal distribution with *mean=0* and *variance=1*

A normal distribution with zero mean and variance 1 is called a standard normal distribution.

In [ ]:
index = 0

In [40]:
cars = pd.read_csv("C:\\Users\\Gourab\\Desktop\\R\\cars.csv")

In [42]:
cars2 = cars[["MPG","Cylinders","Weight","Horsepower"]]

In [47]:
cars2.head()

    MPG  Cylinders  Weight  Horsepower
0  18.0          8    3504         130
1  15.0          8    3693         165
2  18.0          8    3436         150
3  16.0          8    3433         150
4  17.0          8    3449         140

In [48]:
trainX = cars2.iloc[1:406, [1,2,3]]

In [49]:
trainX.head()

   Cylinders  Weight  Horsepower
1          8    3693         165
2          8    3436         150
3          8    3433         150
4          8    3449         140
5          8    4341         198

In [50]:
test = cars2.iloc[0,[1,2,3]]
test

Cylinders        8.0
Weight        3504.0
Horsepower     130.0
Name: 0, dtype: float64

In [52]:
trainY = cars2.MPG[1:406]

### Rules for Individual Assignments

1. It must be done individually
2. Sharing same assignment, copied work may lead to cancellation of the assignment.
3. Give detailed comments (of the codes) and explanations (as markdown)

Submission Deadline: Oct 12, EOD.